@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --primary: #1a2f38;
    --secondary: #3cf5df;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-weight: 1000;
    font-family: Archivo Black, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-item {
    width: 80px;
    text-align: center;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.nav-link {
    color: #f8f9fa !important;
    padding: 0 !important;
}

.nav-link:hover {
    color: var(--secondary) !important;
    border-bottom: 3px var(--secondary) solid;
    font-weight: 700;
    transition: ease-in 0.2s;
}


.active {
    color: var(--secondary) !important;
    border-bottom: 3px var(--secondary) solid;
    font-weight: 700;
    transition: ease-in 0.2s;
}

#home {
    background-image: url("../images/trans-bg.png");
    background-size: cover;
    background-position-y: 10%;
    background-position-x: 80%;
}

.main-font {
    font-family: Archivo Black, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-secondary:hover {
    background-color: #26998c;
    border: #26998c solid 1px;
}

.btn-outline-secondary:hover {
    background-color: #0b1418;
    border: #26998c solid 1px;
    color: #26998c !important;
}

.btn {
    transition: ease-in 0.2s !important;
}

.project-img {
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.overlay {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to top, rgb(26, 47, 56), rgba(26, 47, 56, 0.6));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
}

.overlay:hover {
    opacity: 1;
}

.overlay > * {
    transform: translateY(25px);
    transition: 0.3s;
}

.overlay:hover > * {
    transform: translateY(0px);
}

#moon {
    max-width: 300px;
    max-height: 300px;
}

@media (max-width: 991px) {
    .nav-item {
        text-align: start;
        padding-left: 0px;
    }

    .project-img {
        height: 280px;
    }
}

@media (max-width: 767px) {
    .project-img {
        height: 250px;
    }

    #moon {
        max-width: 200px;
        max-height: 200px;
    }
}

@media (max-width: 575px) {
    .project-img {
        height: 200px;
    }
}