// main.scss
// Option A: Include all of Bootstrap

// Custom Variables
$primary: #1a2f38;
$secondary: #3cf5df;
$info: #111f24;

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here